@use 'variaveis';

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 4rem 2rem;
    color: variaveis.$corTextoSecundario;
    position: relative;
    overflow: hidden;
    text-align: center;

    &__content {
        max-width: 1200px;
        position: relative;
        z-index: 1;
    }

    &__title {
        font-size: 24px;
        letter-spacing: 4px;
        color: variaveis.$corTextoSecundario;
    }

    &__line {
        width: 360px;
        height: 2px;
        margin: 8px auto 40px;
        background: linear-gradient(to right, variaveis.$corVerde, variaveis.$corRoxo);
    }

    &__profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 24px;
    }

    &__photo {
        width: 240px;
        height: 240px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 40px;
        border: none;
    }

    &__button-outline {
        display: inline-flex;
        gap: 8px;
        padding: 12px 28px;
        border: 4px solid variaveis.$corTextoSecundario;
        border-radius: 16px;
        text-decoration: none;
        color: variaveis.$corTextoSecundario;
        font-weight: bold;
        letter-spacing: 2px;
        transition: all 0.3s ease;
        margin-bottom: 40px;

        img,
        svg {
            width: 24px;
            height: 24px;
            transition: transform 0.3s ease;
        }

        &:hover {
            background-color: variaveis.$corDeFundo;
            border-color: variaveis.$corRoxo;

            img,
            svg {
                transform: scale(0.8)
            }
        }

        &--text-scale {
            position: relative;
            overflow: hidden;

            &::after {
                content: attr(data-label);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(1);
                transform-origin: center center;
                transition: transform 0.3s ease;
                pointer-events: none;
            }

            span {
                opacity: 0;
            }

            &:hover::after {
                transform: translate(-50%, -50%) scale(0.9);
            }
        }

    }

    &__description {
        font-size: 20px;
        line-height: 2;
        letter-spacing: 1px;
        color: variaveis.$corTextoSecundario;
        margin-bottom: 40px;
    }

    &__icons {
        margin-bottom: 80px;
        display: flex;
        justify-content: center;
        gap: 24px;

        a {
            font-size: 32px;
            color: variaveis.$corTextoSecundario;
            border: 4px solid variaveis.$corTextoSecundario;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s;

            i {
                transition: transform 0.3s ease;
            }

            &:hover {
                background: variaveis.$corDeFundo;
                border-color: variaveis.$corRoxo;

                i {
                    transform: scale(0.8);
                }
            }
        }
    }
}