$corDeFundo: #000;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corDeFundoBotaoPrimario: #6421ff;
$corDeFundoBotaoSecundario: #0063e5;
$corDeFundoBotaoDark: #040714;
$corVerde: #9be015;
$corRoxo: #7a41f5;